<div ng-controller="loginController">

  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large d-blue">
      <i class="fa fa-plus-circle"></i>
    </a>
    <ul>
      <li>
        <a class="btn-floating d-green" title="Novo caderno" ng-click="newCaderno = !newCaderno" style="transform: scaleX(0.4) scaleY(0.4) translateY(40px) translateX(0px); opacity: 0;">
          <i class="fa fa-book"></i>
        </a>
        </li>          
    </ul>
  </div>

  <div class="row" ng-init="getCadernos()">

    <div class="col s6 offset-s3" ng-show="newCaderno">
      <div class="card">
        <div class="card-content">
         <span class="card-title right clickable grey-text" ng-click="newCaderno = false"><i class="fa fa-times"></i></span>  
          <div class="form-group" ng-hide="true">
            <label>Codigo Caderno</label>
            <input type="text" ng-model="caderno.codcaderno" class="form-control">   
          </div>
          <div class="form-group">
            <label>Nome do Caderno</label>
            <input type="text" ng-model="caderno.nomecaderno" class="form-control">
          </div>
        </div>
        <div class="card-action">
          <button class="btn d-yellow" ng-click="checarCamposCaderno(caderno); newCaderno = !newCaderno" ng-disabled="caderno.nomecaderno.length <= 3 || !caderno.nomecaderno"><i class="fa fa-floppy-o"></i> Salvar</button>       
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m4" ng-repeat="caderno in cadernos">
        <div class="card">
          <div class="card-content">
            <span class="card-title">{{caderno.nomecaderno}}</span>  

              <ul class="collection grey-text" style="max-height: 132px; min-height: 132px">
                <li class="collection-item clickable {{materia.tema_main}} lighten-5" ng-click="getOneMateria(materia.codmateria)" ng-repeat="materia in caderno.materias">
                  <i class="fa fa-bookmark {{materia.tema_main}}-text"></i> 
                    {{materia.nome}}
                  <i class="fa fa-chevron-right right"></i>
                </li>
              </ul>

          </div>
          <div class="card-action">            
            <!-- <a class="btn d-blue" ng-click="newMateria(caderno)"><i class="fa fa-plus-square"></i> Matéria</a> -->
            <a ng-controller="tarefasController" class="btn blue darken-2" title="Tarefas de {{caderno.nomecaderno}}" ng-click="getTarefas(caderno.codcaderno)"><i class="fa fa-thumb-tack"></i></a>
            <a class="btn btn-sm btn-disabled d-grey right" ng-click="deleteCaderno(caderno.codcaderno)"><i class="fa fa-trash-o"></i></a>
          </div>
        </div>
      </div>
    </div>
            
  </div>
</div>
