<ul id="slide-out" class="side-nav" ng-init="getMaterias()">
    <li class="digitalcolor">
      <div class="userView">
        <div class="background">
          <img src="">
        </div>

        <a href="user"><img class="circle" height="75px;" src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/male3-512.png"></a>
        <a href="name"><span class="white-text name"><b ng-bind="user.nome"></b></span></a>
        <a href="email"><span class="white-text email"><b ng-bind="user.email"></b></span></a>
      </div>
    </li>

    <li><div class="divider"></div></li>

    <li ng-repeat="materia in materias" class="{{materia.tema}}">
      <a href=""><big><label class="white-text" ng-bind="materia.nome"></label></big></a>
    </li>

   
</ul>

<a href="" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
        