<div ng-controller="tarefasController"> 
  <div class="row" ng-init="getTarefas()">

    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large d-blue">
        <i class="fa fa-plus-circle"></i>
      </a>
      <ul>
        <li>
          <a class="btn-floating d-green" title="Nova tarefa" ng-click="newTarefa = !newTarefa" style="transform: scaleX(0.4) scaleY(0.4) translateY(40px) translateX(0px); opacity: 0;">
            <i class="fa fa-thumb-tack"></i>
          </a>
          </li>          
      </ul>
    </div>

    <div class="row">    
      <div class="col s8 offset-s2" ng-show="newTarefa">
        <div class="card">    
            <div class="card-content white"> 
                <div class="row">
                  <input type="text" class="form-control" ng-model="tarefa.tarefa" placeholder="Nova tarefa">
                  <input type="text" class="form-control" ng-model="tarefa.prazo" placeholder="Prazo da tarefa" mask="39/19/9999"> 
                </div>          
                <div class="card-action">
                    <button class="btn d-blue" ng-click="addTarefa(tarefa, caderno.codcaderno)" type="button"><i class="fa fa-plus"></i></button>                                
                </div>
            </div>    
        </div>
        </div>
      </div>

    <div class="row">
      <div class="col s8 offset-s2">
        <div class="card">
          <div class="card-content">
            <span class="card-title">{{caderno.nomecaderno}}</span>  

              <ul class="collection grey-text">
                <li class="collection-item" ng-repeat="tarefa in tarefas" ng-class="{'red lighten-5' : today > tarefa.prazo, 'green lighten-5' : tarefa.valor > 0, 'tarefaToday' : tarefa.prazo == today}">
                  
                  <a class="btn btn-sm btn-default" ng-click="updateTarefa(tarefa)" href="">
                    <i class="fa" ng-class="{'fa-check-square' : tarefa.valor == 1, 'fa-square-o' : tarefa.valor != 1}"></i>
                  </a>

                    <big><b> {{tarefa.tarefa}}</b></big>
                    <i class="fa fa-clock-o right"> {{tarefa.prazo}}</i>
                </li>
              </ul>

          </div>
          <div class="card-action">                      
            <a ng-controller="tarefasController" class="btn" title="Tarefas de {{caderno.nomecaderno}}" ng-click="getTarefas(caderno)" ng-class="{'red lighten-5' : today > tarefa.prazo, 'green lighten-5' : tarefa.valor > 0, 'tarefaToday' : tarefa.prazo == today}">
              <i class="fa fa-thumb-tack"></i>
            </a>
            <a class="btn btn-sm btn-disabled d-grey right" ng-click="deleteCaderno(caderno.codcaderno)"><i class="fa fa-trash-o"></i></a>
          </div>
        </div>
      </div>
    </div>


  </div>  
</div>  