    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-{{topico.tema}}" ng-repeat="topico in topicos">

        <!-- <button class="btn btn-warning btn-sm pull-right" title="Editar" ng-click="viewTopico(topico)"><i class="glyphicon glyphicon-pencil"></i></button>                     -->
        <!-- <button class="btn btn-success pull-right"  ng-click="topicoConteudo(topico)"><i class="glyphicon glyphicon-pencil"></i> Abrir caderno</button> -->
        <!-- <button class="btn-floating btn-small waves-effect waves-light red"><i class="fa fa-pencil"></i></button> -->
        <div class="panel-heading" role="tab" id="headingTwo" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="javascript:#{{topico.codtopico}}" aria-expanded="false" aria-controls="{{topico.codtopico}}">        
          <h4 class="panel-title">{{topico.nome}}</h4>
        </div>
        <div id="{{topico.codtopico}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
  </div>
</div>

    <div class="panel panel-{{topico.tema}} col-xs-5">     
      <div class="panel-heading">Flashing Cards</div>
        <div class="panel-body">
      
        </div>
    </div> 
     
    <div class="panel panel-{{topico.tema}} col-xs-12">        
        <div class="panel-heading">
            <h2 class="panel-title">{{topico.caderno}}{{topico.nome}}
              <!-- <button class="btn btn-success btn-sm pull-right" title="Salvar" ng-click="checarLinks(topico.conteudo)"> Checar Links</button>                     -->
              <button class="btn btn-success btn-sm pull-right" title="Salvar" ng-click="checarCampos(topico)"><i class="fa fa-user"></i> Salvar</button>                    
              <button  class="btn btn-warning btn-sm pull-right" ng-click="goConsulta()"><i class="glyphicons-glass"></i> Voltar</button>                                            
            </h2>
        </div>

        <div class="panel-body">   
          <div class="panel-body" text-angular ng-model="topico.conteudo" ng-blur="checarLinks(conteudo)"></div>
        </div> 

    </div>	    	
